<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleIdentifier</key>
	<string>org.llvm.clang.framework</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2007-2012 University of Illinois at Urbana-Champaign</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>clang</string>
</dict>
</plist>
