<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleIdentifier</key>
	<string>org.vuo.framework</string>
        <key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
        <key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012–2016 Kosada Incorporated.  This framework may be used and distributed according to the terms described on http://vuo.org/license.</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Vuo</string>
</dict>
</plist>
