<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>vuo.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Vuo</string>
	<key>CFBundleIdentifier</key>
	<string>org.vuo.editor</string>
	<key>CFBundleVersion</key>
	<string>@BUNDLE_VERSION@</string>
	<key>CFBundleShortVersionString</key>
	<string>@BUNDLE_SHORT_VERSION_STRING@</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>Vuo Node</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.vuo.node</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-vuo-node</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vuo-node.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vuonode</string>
			</array>
		</dict>
		<dict>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeName</key>
			<string>Vuo Pro Node</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.vuo.node.pro</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-vuo-node+</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vuo-node.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vuonode+</string>
			</array>
		</dict>
		<dict>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>Vuo Composition</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.vuo.composition</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-vuo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>vuo-composition.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vuo</string>
			</array>
		</dict>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.glsl.fragment-shader</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeName</key>
			<string>OpenGL Shading Language Fragment Shader</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fs</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vuo Node</string>
			<key>UTTypeIdentifier</key>
			<string>org.vuo.node</string>
			<key>UTTypeReferenceURL</key>
			<string>https://vuo.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vuonode</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-vuo-node</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vuo Pro Node</string>
			<key>UTTypeIdentifier</key>
			<string>org.vuo.node.pro</string>
			<key>UTTypeReferenceURL</key>
			<string>https://vuo.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vuonode+</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-vuo-node+</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Vuo Composition</string>
			<key>UTTypeIdentifier</key>
			<string>org.vuo.composition</string>
			<key>UTTypeReferenceURL</key>
			<string>https://vuo.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vuo</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-vuo</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.khronos.glsl-source</string>
				<string>public.source-code</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.khronos.glsl.fragment-shader</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fs</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Vuo Example Composition</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vuo-example</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Vuo Node Documentation</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vuo-node</string>
			</array>
		</dict>
	</array>
	<key>CFBundleHelpBookFolder</key>
	<string>Vuo.help</string>
	<key>CFBundleHelpBookName</key>
	<string>org.vuo.Editor.help.@VUO_VERSION_AND_BUILD@</string>
	<key>NSCameraUsageDescription</key>
	<string>This Vuo composition would like to use your Mac&apos;s camera for live video processing or recording.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This Vuo composition would like to use your Mac&apos;s microphone for live audio processing or recording.</string>
</dict>
</plist>
