/*****************/
/* Global styles */
/*****************/

@font-face {
	font-family: 'PT Sans';
	src: url('font/PTS55F_W.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('font/PTS56F_W.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src: url('font/PTS75F_W.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('font/PTS76F_W.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
}

:root {
	--color-background: rgb(253,246,227); /* solarized base3 */
	--color-text: rgb(88,110,117); /* solarized base01 */
	--color-link: #0099a9; /* Vuo 2017 Logo blue */
	--color-link-current: rgb(7,54,66); /* solarized base02 */
	--color-term: rgb(66,153,0); /* not-solarized green */
	--color-heading: #0099a9; /* Vuo 2017 Logo blue */
	--color-group-background: rgb(238,232,213); /* solarized base2 */
	--color-group-border: transparent;
	--color-hr: rgb(238,232,213); /* solarized base2 */
	--link-decoration: none;
}
@media (prefers-contrast: more) {
	:root {
		--color-background: #fff;
		--color-text: #000;
		--color-link: #004c54; /* Vuo 2017 Logo blue, darker */
		--color-link-current: #000;
		--color-term: #214c00;
		--color-heading: #000;
		--color-group-background: #fff;
		--color-group-border: #888;
		--color-hr: #888;
		--link-decoration: underline;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-background: rgb(0,43,54); /* solarized base03 */
		--color-text: rgb(147,161,161); /* solarized base1 */
		--color-heading: rgb(238,232,213); /* solarized base2 */
		--color-link: #3abac8; /* Vuo 2017 Logo blue, brighter */
		--color-link-current: rgb(238,232,213); /* solarized base2 */
		--color-group-background: rgb(7,54,66); /* solarized base02 */
		--color-group-border: transparent;
		--color-hr: rgb(7,54,66); /* solarized base02 */
	}
	img {
		opacity: 80%;
	}
}
@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
	:root {
		--color-background: #000;
		--color-text: #fff;
		--color-heading: #fff;
		--color-link: #9cdce3; /* Vuo 2017 Logo blue, brighter */
		--color-link-current: #fff;
		--color-group-background: #000;
		--color-group-border: #888;
		--color-hr: #888;
	}
	img {
		opacity: 100%;
	}
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'PT Sans', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0 1em 0 20em;
	max-width: 800px;
}
@media (max-width: 800px) {
	body {
		padding-left: 1em;
	}
}

a {
	color: var(--color-link);
	text-decoration: var(--link-decoration);
}
a:hover {
	text-decoration: underline;
}
a.current,
a.active-trail {
	color: var(--color-link-current);
}
a.current {
	font-weight: bold;
}

h2,
h3,
h4 {
	color: var(--color-heading);
	font-weight: 300;
	margin: 0px;
}
h2 {
	font-size: 36pt;
}
h3 {
	font-size: 24pt;
}
h4 {
	font-size: 18pt;
}

img {
	max-width: 100%;
}

hr {
	border: 2px solid var(--color-hr);
	clear: both;
}

strong {
	font-weight: bold;
}

.example .example-title {
	background-color: var(--color-group-background);
	padding: 0.8em;
}
.example .example-contents pre {
	font-family: 'Monaco', monospace;
	font-size: 10pt;
	margin: 0;
}
.example + .example-break {
	display: none;
}

/* Previous/Next buttons */
.navheader tr:last-child td:first-child a,
.navheader tr:last-child td:last-child a,
.navfooter tr:first-child td:first-child a,
.navfooter tr:first-child td:last-child a {
	color: var(--color-text);
	font-size: 1.3em;
	display: inline-block;
	padding: 0 .5em;
	text-decoration: none;
}
.navheader tr:last-child td:first-child a:hover,
.navheader tr:last-child td:last-child a:hover,
.navfooter tr:first-child td:first-child a:hover,
.navfooter tr:first-child td:last-child a:hover {
	text-decoration: none;
}

/* Section name */
.navheader tr:last-child th:nth-child(2) {
	font-weight: normal;
}

/* Table of contents search widget */
.toc input {
	width: 100%;
	background: var(--color-background);
	border-radius: 6px;
	border: 1px solid var(--color-group-border);
	color: var(--color-link-current);
	padding: 0.25rem 1rem;
}
.toc .search-results {
	margin-bottom: 0;
	padding-left: 1rem;
}
.toc .search-results li {
	list-style: circle;
}

/* Tables */
.informaltable table {
	border: none !important;
	border-bottom: 1px solid var(--color-text) !important;
	margin: 1em;
}
.informaltable table th {
	border: 1px solid var(--color-text) !important;
	border-left: none !important;
	border-right: none !important;
	padding: .1em .5em .1em .5em;
}
.informaltable table td {
	border: none !important;
	padding: .1em .5em .1em .5em;
	vertical-align: top;
}

.vuo-term {
	color: var(--color-term);
	font-weight: 600;
}

.vuo-port,
.vuo-node,
.vuo-node-class {
	font-weight: 600;
}

.shortcut,
.vuo-directory,
.vuo-menu {
	background-color: var(--color-group-background);
	border: 1px solid var(--color-group-border);
	border-radius: 4px;
	padding: .02em .2em .02em .2em;
}

.vuo-tip,
.vuo-note-text,
.vuo-note-new,
.vuo-note-changed {
	clear: right;
	float: right;
	width: 33%;
	background-color: var(--color-group-background);
	border: 1px solid var(--color-group-border);
	border-radius: 6px;
	font-size: 11pt;
	margin: 0 0 1em 1em;
	padding: 1em 1em 1em 3em;
}
.vuo-tip:before,
.vuo-note-text:before,
.vuo-note-new .title,
.vuo-note-changed .title {
	font-weight: 600;
	display: block;
	background-size: auto 1.3em;
	background-repeat: no-repeat;
	padding-bottom: 0.3em;
}
.vuo-tip:before {
	content: 'Tip';
	background-image: url("image/fa-info.svg");
	margin-left: -1.7em;
	padding-left: 1.7em;
}
.vuo-note-text:before {
	content: 'Note for text programmers';
	background-image: url("image/fa-code.svg");
	margin-left: -2.2em;
	padding-left: 2.2em;
}
.vuo-note-new .title {
	background-image: url("image/fa-gift.svg");
	margin-left: -2em;
	padding-left: 2em;
	padding-bottom: 0;
}
.vuo-note-changed .title {
	background-image: url("image/fa-highlighter.svg");
	margin-left: -2em;
	padding-left: 2em;
}


/*******************************/
/* Styles for particular pages */
/*******************************/


/* Title page */

.article > div.titlepage div {
	display: inline;
}
.article > div.titlepage h2.title {
	margin-left: -2.8em;
	width: 248px;
	background-image: url("image/vuo-wordmark-teal-cropped.svg");
	background-size: 248px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	font-size: 72pt;
	display: inline-block;
	position: relative;
	top: -12px;
}
.article > div.titlepage p.releaseinfo {
	color: rgb(192,196,187); /* solarized base1.5 */
	font-size: 72pt;
	display: inline-block;
	margin: 0;
	padding-top: 42px;
}
.article > div.titlepage p.pubdate {
	color: rgb(192,196,187); /* solarized base1.5 */
	float: right;
	margin-top: 99pt;
}
.article > div.titlepage hr {
	margin-top: -1em;
}
@media (max-width: 800px) {
	.article > div.titlepage h2.title {
		margin-left: 0;
		margin-right: 10px;
		width: 124px;
		background-size: 124px;
		font-size: 33pt;
	}
	.article > div.titlepage p.releaseinfo {
		font-size: 36pt;
		display: inline-block;
		margin: 0;
		padding-top: .6em;
	}
	.article > div.titlepage p.pubdate {
		margin-top: 47pt;
	}
}
@media (max-width: 396px) {
	.article > div.titlepage p.pubdate {
		margin-top: 0;
	}
}

div.toc-title,
div.toc > p > strong {
	display: none;
}
#toc iframe {
	border: none;
	width: 15em;
	margin: 1em 0 0 -19em;
}
div.toc {
	background-color: var(--color-group-background);
	border: 1px solid var(--color-group-border);
	border-radius: 6px;
	padding: 1em;
	position: absolute;
	width: 15em;
	margin: 1em 0 0 -19em;
}
@media (max-width: 800px) {
	div.toc {
		display: none;
	}
}
.titlepage div.navheader {
	display: none;
}
.titlepage div.toc {
	margin-top: 11em;
}
div.toc p {
	margin: 0;
}
ul.toc,
dl.toc {
	margin: 0;
	padding: 0;
}
ul.toc li,
dl.toc dt {
	margin-left: 1rem;
	list-style: circle;
}
ul.toc ul,
dl.toc dl {
	padding: 0;
}
dl.toc dd {
	margin: 0;
}
#toc details {
	margin-left: 1rem;
}
#toc details > summary {
	display: block;
	position: relative;
}
#toc details > summary::-webkit-details-marker {
	display: none;
}
#toc details > summary::before {
	content: "▶";
	position: absolute;
	font-size: 60%;
	left: -0.9rem;
	top: 0.3rem;
	color: var(--color-link);
}
#toc details[open] > summary::before {
	content: "▼";
	color: var(--color-link-current);
}


/* Scale down this image so it fits next to the "tip" sidebars (rather than leaving a gap). */
.quickstart-noiseglass-output img {
	width: 52%;
}

/* Contributors page */
#contributors .itemizedlist,
#software-and-resources .itemizedlist {
	column-width: 10em;
}
#contributors .itemizedlist ul,
#software-and-resources .itemizedlist ul {
	margin-top: 0;
}
#contributors .itemizedlist ul p,
#software-and-resources .itemizedlist ul p {
	margin: 0;
}

/* Glossary page */
#glossary h4 {
	color: inherit;
	font-size: inherit;
	font-weight: bold;
	float: left;
	margin-right: 1em;
}
#glossary p {
	margin-left: 2em;
}

.titlepage h2 {
	clear: none !important;
}

.abstract {
	display: none;
}

.navfooter tr:nth-child(2) td:nth-child(2) {
	visibility: hidden;
}
